.container {
  display: flex;
  gap: 2em;
  position: relative;
  background-image: url('./../../../../../assets/quote.jpg');
  align-items: center;
  justify-content: center;
  object-fit: cover;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 400px;
  filter: sepia(40%);
}

.text_container {
  background-color: var(--secondary_transparent);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--lg_border_radius);
  gap: 1em;
  padding: 2em;
  row-gap: 1em;
  width: 100%;
  height: 100%;
  min-height: 400px;
  column-gap: 1em;
  align-items: center;
}

.text_container p {
  font-size: calc(var(--step-3)*1.3);
  text-wrap: balance;
  text-align: center !important;
}

@media screen and (max-width: 768px) {
  .container {
    min-height: auto;
    flex-direction: column;
    gap: 1.5em;
  }

  .img_container {
    width: 100%;
  }

  .text_container {
    width: 100%;
    min-height: auto;
  }
}