.container {
  display: flex;
  gap: 2em;

  align-items: center;
}
.img_container img {
  width: 100%;
  /* filter: hue-rotate(300deg); */
  filter: sepia(40%);
}
.img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--lg_border_radius);
  width: 60%;
  overflow: hidden;
  height: 400px;
}
.text_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 60%;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 1.5em;
  }
  .img_container {
    width: 100%;
  }
  .text_container {
    width: 100%;
  }
}
