.recipe_card_cntainer {
  display: grid;
  gap: 2rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
}

.review_container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

@media only screen and (max-width: 1024px) {
  .recipe_card_cntainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 30em) and (orientation: landscape) {
  /* CSS rules here */
  p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .recipe_card_cntainer {
    grid-template-columns: 1fr;
  }

  .dish_image {
    width: 10px;
    object-fit: cover;
  }
}

.recipe_card {
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  min-width: 360px;
}

.review_rating_container {
  display: flex;
  justify-content: end;
  gap: 1em;
}

.rating_experience_txt {
  display: flex;
  gap: 0.4em;
  align-items: center;
}

.review_txt {
  gap: 0.4em;

  align-items: center;

  display: flex;
}

.slide {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5em;
}

.slideHeader {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 1em 1em;
}

.slideText {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.slideTitle {
  display: flex;
  /* min-height: 35px; */
  align-items: center;
  justify-content: space-between;
}

.slideProfile {
  display: flex;
  justify-content: space-between;
}

.user_image {
  width: var(--step-4);
  height: var(--step-4);
  border-radius: 50%;
  border: 2px solid var(--secondary_color);
}

.dish_image_container {
  width: 100%;
}

.dish_image {
  width: 100%;
  border-radius: 1rem;
  height: 250px;
  object-fit: cover;
}
