

.slideText{
    display: flex;
    flex-direction: column;
    width: 60%;
padding: 20px;
    justify-content: space-between;
}
.slideTitle{
display: flex;

flex-direction: column;
align-items: flex-start;

}
.slideProfile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dish_image{
    /* height: 300px; */
    width: 40%;
    object-fit: cover;
}

@media only screen and (max-width: 904px) {
    .slide{
        height: auto;
        flex-direction: column-reverse;
    }
    .dish_image{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    .slideText{
        height: auto;
        gap: 1rem;
        width: 100%;
    }
}
