.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;

  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
}

.swiper-wrapper {
  align-items: center !important;
}

.swiper-slide {
  width: 100%;
}

.slide {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  overflow: hidden;
  align-items: center;
  height: 500px;
  width: 100%;
  background-color: var(--secondary_transparent);
  border-radius: var(--step-3);
}

@media only screen and (max-width: 904px) {
  .swiper {
    width: 100%;
  }

  .slide {
    height: auto;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 576px) {
  .swiper-slide {
    width: 100%;
  }
}
