.profile_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 1000px;
}

.profile_bg_image {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: var(--lg_border_radius);
}

.user_bg_image {
  width: 100%;
  height: 300px;
  max-height: 300px;
  position: relative;
  object-fit: cover;
  border-radius: var(--lg_border_radius);
}

.decoy_image {
  width: 100%;
  height: 300px;
  position: absolute;
  border-radius: var(--lg_border_radius);
  background: rgb(238, 174, 202);
  background: linear-gradient(
    45deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50rem;
  border: 5px solid var(--secondary_color);
  object-fit: cover;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-weight: 700;
  color: var(--secondary_color);
  border-radius: 50%;
  padding: 0.5rem 0.5rem;
  background-color: var(--secondary_transparent);
  display: inline-block;
}

.inputfile + label > img {
  width: var(--step-3);
  height: var(--step-3);
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: var(--secondary_color);
  color: var(--accent_color);
}

.inputfile + label {
  cursor: pointer;
  /* "hand" cursor */
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  pointer-events: none;
}
