.input_field {
  display: flex;
  align-items: center;
  width: 100%;
}

.display_flex {
  display: flex;
  gap: 10px;
}

.ingredient_info_list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.select_list_content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.select_items {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: baseline;
}
.instructions_field {
  width: 100%;
}
.form_style {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  width: 60% !important;
}

.form_container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
.btn_container {
  display: flex;
  justify-content: space-between;
}
/* image upload css */

.form_header {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

.instruction_num_container {
  border-radius: var(--lg_border_radius);

  background-color: var(--secondary_transparent);
}

.instruction_num {
  padding: 1rem 1.5rem;
}

@media only screen and (max-width: 1440px) {
  .form_style {
    width: 80% !important;
  }
}

.form_footer {
  align-items: flex-start;
}

@media only screen and (max-width: 1024px) {
  .form_style {
    width: 100% !important;
  }

  .form_header {
    width: 100%;
    flex-direction: column;
  }

  .image_item__btn_upload {
    width: 100%;
  }

  .form_header_content {
    width: 100%;
  }

  .form_header_Img {
    width: 100%;
  }
}

/* @media only screen and (max-width: 768px) {
  .select_list_content {
    flex-direction: column;
  }
} */

@media only screen and (max-width: 380px) {
  .form {
    padding: 0 2rem;
    width: 100%;
  }

  .ingFlex {
    display: flex;
    flex-direction: column;
  }
}
