.deskmenubtn {
  justify-content: end;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding: 2rem;
}

.mobilemenubtn {
  justify-content: end;
  display: flex;
  justify-content: center;
  cursor: pointer;

  padding: 2rem;
}

.desknav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(33, 49, 52, 0.205) 0 2px 8px 0;
  height: 100vh;
  width: 220px;
  background-color: var(--first_color);

  justify-content: start;
  color: var(--accent_color);
  padding: 0 1rem;
  align-items: left;
  position: fixed;
  left: 0;
  z-index: 9;
}

.mobilenav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100px;
  z-index: 9;
  background-color: var(--first_color);
  padding: 0 1rem;
  gap: 1rem;
  box-shadow: rgba(33, 49, 52, 0.205) 0 2px 8px 0;

  position: fixed;
  left: 0;
}

.menuItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.navItems {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.mobilenavItems {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.closeNavbar {
  align-items: center;
}

.activeDash {
  background-color: var(--secondary_color);
  color: var(--accent_color);
  border-radius: var(--lg_border_radius);
  padding: 1rem;
}

.inactiveDash {
  padding: 1rem;
}

.inactiveDash:hover {
  background-color: var(--secondary_transparent);
}

.inactiveDash:active {
  color: inherit;
}

.inactiveDash:visited {
  color: inherit;
}

.display_flex {
  display: flex;
  justify-content: center;
}

.profile_image {
  width: 24px;
}

.back_btn {
  position: absolute;
  right: 10px;
  top: 10px;
}


@media only screen and (max-width: 1024px) {
  .desknav {
    display: none;
  }

  .mobilenav {
    flex-direction: row;
    height: auto;
  }

  .deskmenubtn {
    display: none;
  }

  .mobilemenubtn {
    display: none;
  }

  .mobilenav {
    position: fixed;
    justify-content: center;
    bottom: 0;
    margin: 0 auto;
    padding: 1rem 0;
    width: 100vw;
    left: 0;
  }
}

.content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 1rem 5rem;
}

.container {
  width: 100%;
  max-width: 900px;
}