/* 
.img_container {
} */
.ingredients_counter_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ingredients_counter {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredient_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ingredients_container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
}

.ingredient_container_dashed {
  text-decoration: line-through;
  opacity: 0.5;
}

.ingredient_container {
  transition: all 0.3s;
  padding: 2rem;
  height: 1rem;
}

.ingredient_container:hover {
  border-radius: var(--lg_border_radius);
  background-color: var(--secondary_transparent);
}

.ingredient_name_operation {
  flex-direction: column;
  display: flex;
}

.img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: var(--lg_border_radius);
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.counter {
  padding: 1rem 0.5rem;
}

/* * {
  background-color: rgba(202, 202, 255, 0.2) !important;
} */
/* right side */

.title_container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-bottom: 2rem;

  gap: 1rem;
  border-bottom: 2px solid var(--accent_lite);
}
.book_mark_icon {
  width: var(--step-2);
  cursor: pointer;
}
.share_icon {
  width: var(--step-2);
  cursor: pointer;
}

.cook_time_container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nutrition_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;

  border-bottom: 2px solid var(--accent_lite);
}

/* nutrition_card */
.nutrition_card_container {
  display: flex;
  width: 100%;
  gap: 1em;
  justify-content: space-between;
}

.nutrition_card {
  display: flex;
  background-color: var(--secondary_transparent);
  flex-direction: column;
  height: 145px;
  width: 90px;
  padding: 0.3rem;
  justify-content: space-evenly;
  border-radius: 50px;
  align-items: center;
}

.nutrition_amount {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  background-color: var(--first_color);
}

.instruction_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.instructions {
  display: flex;

  flex-direction: column;
  gap: 1rem;
}

.instruction {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.nutrition_type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.nutrition_card_container_instance {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-around;
}

.instruction_num_container {
  border-radius: var(--lg_border_radius);
  background-color: var(--secondary_transparent);
}

.instruction_num {
  padding: 1rem 1.5rem;
}

.rating_experience_star {
  width: 20px;
}

.rating_experience_txt {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.star_rating {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5em;
}

@media only screen and (max-width: 1270px) {
  .nutrition_card_container {
    flex-direction: column;
  }

  .nutrition_card_container_instance {
    /* flex-direction: column; */
    justify-content: space-evenly;
  }

  .nutrition_card {
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
  }

  .nutrition_amount {
    height: 40px;
    width: 50%;
  }

  .nutrition_type {
    display: flex;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 1024px) {
  .title_container {
    gap: 1rem;
  }

  .ingredients_counter {
    width: 40%;
  }

  .nutrition_amount {
    height: 40px;
    width: 50%;
  }

  .nutrition_type {
    display: flex;
    align-items: flex-start;
  }
}
