@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@font-face {
  font-family: F_bold;
  src: url(./../utils/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: logo;
  src: url(./../utils/fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: F_light;
  src: url(./../utils/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: F_regular;
  src: url(./../utils/fonts/Poppins-SemiBold.ttf);
}

:root {
  --first_color: #fefffe;
  --secondary_color: #f1e6d6;
  --secondary_transparent: #f7efe481;
  --tertiary_color: #e6fbfe;
  --accent_color: hsl(186, 22%, 17%);
  --accent_lite: #547e83;
  --logo_color: #fe7f2d;
  --green_light_color: #cde4d6;
  --green_dark_color: #32b768;
  --title_1440: 55px;
  --title_1024: 44px;
  --title_768: 40px;
  --title_576: 38px;
  --title_400: 36px;
  --title_360: 32px;
  --subtitle_1440: 36px;
  --subtitle_1024: 32px;
  --subtitle_768: 32px;
  --subtitle_576: 28px;
  --subtitle_400: 24px;
  --subtitle_360: 22px;
  --paragraph_1440: 18px;
  --paragraph_1024: 16px;
  --paragraph_768: 16px;
  --paragraph_576: 16px;
  --paragraph_400: 14px;
  --paragraph_360: 12px;
  --tagline_1440: 20px;
  --tagline_1024: 16px;
  --tagline_768: 16px;
  --tagline_576: 16px;
  --tagline_400: 14px;
  --tagline_360: 14px;
  --span: 10px;
  --sm_border_radius: 5px;
  --lg_border_radius: 10px;
  --xl_border_radius: 15px;
  --xxl_border_radius: 4rem;
}

body {
  font-family: F_light;
  background-color: var(--first_color) !important;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .herobg {
    background: none;
  }
}
